@model WebApplication1.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do evento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gratuito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gratuito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.IdEvento" value="Salvar" class="btn btn-primary">Editar</a>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
